${USERNAME} さん，

クラスタへようこそ！
あなたのアカウント(ユーザ名:${USERNAME})の準備が整いました．

クラスタにアクセスするにはSSH鍵認証が必要です．
SSH接続用の鍵ペアを生成してください．
そして，公開鍵を本メールに返信する形でお送りください．

公開鍵が管理者によって登録されると，
sshでフロントエンドサーバに接続可能になりますので，
管理者から登録した旨の返信があるまでしばらくお待ち下さい．

クラスタのフロントエンドサーバのアドレスは下記の通りです．

*********

あなたのアカウントの初期パスワードは下記のとおりです．

${PASSWORD}

本パスワードは接続後にpasswdコマンドで変更願います．

---------------------------------------------
クラスタ管理者
(本メールはシステムから自動送信されました．)
---------------------------------------------
